.superman {
  transition: transform 0.2s;
  transform: rotateX(-90deg); /* Rotate the image 90 degrees along the Y-axis */
  transition: transform 0.5s ease; /* Smooth transition for the effect */
  transform-origin: center; 
  font-size: 30px;
}
